$text: #F2F0EE;
$content-heading-color: #F2F0EE;
$bg: #202020;
$default: #F2F0EE;
$transparent: rgba(0,0,0,0.0);
$primary: #76ADB0;
$muted: rgb(196, 191, 176);

//$translucent-accent: rgba(225,225,225,0.20);
$translucent-accent: rgba(5,5,5,0.3);
$translucent-grey: rgba(50,50,50,0.75);

$carousel-arrow-background: transparent;