$text: #E8E6E6;
$content-heading-color: $text;
$bg: #202020;
$primary: #7DB9B9;
$muted: rgb(196, 191, 176);
$bone: #E0DDDA;
$sand: #D0C9BF;

//$translucent-accent: rgba(225,225,225,0.20);
$translucent-accent: rgba(5,5,5,0.3);
$translucent-grey: rgba(50,50,50,0.75);