.nav-btn {
  position: relative;
  height: 40px;
  color: #E0DDDA;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 150ms ease-in-out;
  &::before {
    transition: all 150ms ease-in-out;
  }
  padding-top: 5px;
  padding-left: 10px;
  @include slanted-bg-size(-2px, 0, 37px);
  &.is-active {
    @include slanted-bg-size(-2px, calc(100% + 10px), 35px);
    &::before {
      transition: all 150ms ease-in-out;
    }
    color: #7DB9B9;
    &:hover { color: #7DB9B9; }
    /*&::after {
      border-bottom: 3px solid #7DB9B9;
      transition: all 200ms ease-in-out;
      transform: scaleX(1);
    }*/
  }
  &:hover {
    color: #E0DDDA;
    @include slanted-bg-size(-2px, calc(100% + 10px), 35px);
  }
  /*&::after {
    content: '';
    display: block;
    position: absolute;
    left: -10px;
    margin-top: 3px;
    width: calc(100% + 20px);
  }
  &:not(.is-active)::after {
    border-bottom: solid 3px #E0DDDA;
    transition: all 200ms ease-in-out;
    transform: scaleX(0);
  }
  &:hover::after { transform: scaleX(1); }*/
}

#nav-regular {
  width: 135px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transform-origin: right center;
  transition: all 200ms linear;
}

#nav-collapse {
  width: 135px;
  height: 0px;
  display: flex;
  background: #202020;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  transform-origin: top;
  transition: height 250ms linear;
  visibility: hidden;
  opacity: 0;
  .nav-btn {
    margin-bottom: 5px;
    margin-right: 0;
  }
  &.visible {
    height: 230px;
  }
}

#hamburger {
  display: none;
  margin-top: 10px;
  margin-right: 25px;
  z-index: 2;
  i {
    font-size: 28px;
    color: #E0DDDA;
    transition: all 200ms ease-in-out;
    &:hover {
      color: #7DB9B9;
    }
  }
}

@keyframes active-link {
  from {
    transform: scaleX(0);
  } to {
    transform: scaleX(1);
  }
}

@media (max-width: 768px) {
  .navbar {
    height: 65px;
    background: transparent;
  }
  .logo-div {
    margin-top: 0px;
    transform: scale(0.75);
  }
  #nav-regular {
    //visibility: hidden;
    //opacity: 0;
    //width: 0;
    //min-width: 0;
    display: none;
    //transform: scaleX(0);
  }
  #nav-collapse {
    visibility: visible;
    opacity: 1;
  }
  #hamburger {
    display: block;
  }

}