@font-face {
  font-family: 'Gotham';
  src: url(/assets/fonts/gotham.otf) format('otf');
}
@font-face {
  font-family: 'Montserrat';
  src: url(/assets/fonts/montserrat.ttf) format('ttf');
}

@font-face {
  font-family: 'SF Pro Display';
  src: url(/assets/fonts/SF.otf) format('otf');
}

html {
  background-color: $bg !important;
}

body {
  background: $bg;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color: $default;
  font-weight: 500;
}

h1 {
  font-size: 2.5em;
}

::selection {
  background: rgba(224,221,218,.99); /* WebKit/Blink Browsers */
  color: $bg;
}
::-moz-selection {
  background: rgba(224,221,218,.99); /* Gecko Browsers */
  color: $bg;
}

#app {
  font-family: 'SF Pro Display', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $default;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

#sidebar {
  position: fixed;
}

#contact {
  z-index: 1;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: $default;
    transform: skewY(-7deg);
    height: 250px;
    width: 85%;
    z-index: -1;
  }
  height: 250px;
  width: 100%;
  .content {
    //transform: skewY(7deg);
    width: 250px;
  }
}

#id {
  .content {
    width: 250px;
  }
}

#about {
  height: 700px;
}

#projects {
  position: relative;
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $default;
    transform: skewY(-7deg);
    z-index: 1;
  }
  height: 750px;
  width: 100%;
  .content {
    z-index: 20;
  }
}

.sticky-offset {
  margin-top: 75px;
}

.container {
  padding: 1rem;
}

.button.custom {
  border-radius: 1px;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  border-style: none;
  &.md {
    height: 35px;
    width: 150px;
  }
  &.primary {
    color: $bg;
    background: rgba(224,221,218,0.8);
  }
}

.contact-bar {
  i {
    color: $default;
    font-size: 2.5rem;
    margin: 0 5px;
  }
}

.invert-selection::selection {
    color: rgba(224,221,218,0.99); /* WebKit/Blink Browsers */
    background: $bg;
}

.contact-field {
  ::selection {
    color: rgba(224,221,218,.99); /* WebKit/Blink Browsers */
    background: $bg;
  }
  color: $default;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 5px;
  .contact-label {
    text-align: center;
    line-height: 35px;
    font-size: 1.1rem;
    font-weight: 900;
    border-radius: 3px;
    background: $default;
    color: $bg;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    transition: 150ms linear;
    height: 35px;
  }
  &:hover {
    .contact-label {
      &.mail { width: 180px; }
      &.linkedin { width: 100px; }
      &.phone { width: 140px; }
    }
  }
}

.about-content {
  h5 { margin-left: 30px !important; }
}

.card {
  height: 275px;
  border-radius: 1px;
  padding: 15px;
  border-radius: 2px;
  cursor: pointer;
  overflow: hidden;
  .detail-btn {
    color: $default;
    background: rgba(25,25,25,0.6);
    z-index: 12;
    visibility: hidden;
    opacity: 0;
    transition: 100ms ease-in-out;
  }
  .bg {
    z-index: 11;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background: rgba(0,0,0,0.5);
    transition: 100ms ease-in-out;
  }
  .img {
    overflow: auto;
    z-index: 10;
    position: absolute;
    top: -3%; bottom: -3%; right: -3%; left: -3%;
    transition: 100ms ease-in-out;
    -webkit-filter: grayscale(75%);
    -moz-filter: grayscale(75%);
    -o-filter: grayscale(75%);
    -ms-filter: grayscale(75%);
    filter: grayscale(75%);
    &.home24 {
      background: url('./assets/images/home24.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.wr {
      background: url('./assets/images/steeringwheel.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.fa {
      background: url('./assets/images/fa.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.usda {
      background: url('./assets/images/usda.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &:hover {
    .detail-btn{
      visibility: visible;
      opacity: 1;
    }
    .bg {
      background: rgba(100,100,100,.4);
    }
    .img {
      -webkit-filter: blur(6px);
      -moz-filter: blur(6px);
      -o-filter: blur(6px);
      -ms-filter: blur(6px);
      filter: blur(6px);
    }
    .card-title {
      color: $default;
      transform: none;
    }
  }
  .card-title {
    transform: translateY(30px);
    transition: 100ms ease-in-out;
    z-index: 12;
    font-size: 2rem;
    font-weight: 900;
    color: $default;
    text-align: center;
  }
}

.name-container {
  transform: skewY(-7deg);
  height: 55px;
  width: 110px;
  background: $default;
  text-align: center;
  h3 { padding-top: 8px; }
  * {
    transform: skewY(7deg);
  }
}

.contact-details {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  h5 {
    color: $bg;
    margin: 0;
    font-weight: 700;
  }
  i {
    font-size: 2rem;
    color: $bg;
  }
  .icon-border {
    border: 3px solid $bg;
    border-radius: 3px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 1.3rem;
    }
  }
}