@font-face {
  font-family: 'SF Pro Display';
  src: url(/assets/fonts/SF.otf) format('otf'), url(/assets/fonts/SF.ttf) format('ttf');
  font-weight: normal;
}

html {
  background-color: $bg !important;
  font-size: 16px;
  @media only screen and (max-width: 768px) {
    font-size: 15px;
  }
}

body {
  background: $bg;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color: $default;
  font-weight: 500;
}

::selection {
  background: rgba(224,221,218,.99); /* WebKit/Blink Browsers */
  color: $bg;
}
::-moz-selection {
  background: rgba(224,221,218,.99); /* Gecko Browsers */
  color: $bg;
}

#app {
  font-family: 'SF Pro Display', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $default;
}

#bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('./assets/images/bg.png');
  -webkit-filter: grayscale(25%);
  -moz-filter: grayscale(25%);
  -o-filter: grayscale(25%);
  -ms-filter: grayscale(25%);
  filter: grayscale(25%);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
}

#sidebar {
  position: fixed;
  width: 335px;
}

#mobile-nav-bar {
  position: fixed;
  z-index: 99;
}

#nav-mobile {
  z-index: 2;
}

#name-container {
  height: 50px;
  width: 100px;
  text-align: center;
  @include slanted-bg-size(-8px, 100px, 50px);
}

#name-container-mobile {
  padding-top: 0.75em;
  height: 55px;
  width: 90px;
  text-align: center;
  @include slanted-bg-size(-5px, 90px, 55px);
}

#last-name-container-mobile {
  z-index: 1;
  padding-top: 1em;
  padding-left: 0.75em;
  height: 55px;
}

#main-content {
  width: 100%;
  margin-left: calc(275px + 5vw);
  @media screen and (max-width: 1085px) {
    margin-left: 0;
  }
}

//------------------------------------------------------------------------------
// Sections
//------------------------------------------------------------------------------

#contact {
  position: relative;
  overflow: visible;
  height: 240px;
  width: 100%;
  @include slanted-bg-size(0px, 90%, 240px);
  .content {
    overflow: visible;
    width: 250px;
    color: $text;
    width: 100%;
  }
}

#about {
  position: relative;
  padding-bottom: 2vw;
  .content {
    max-width: 950px;
  }
  @media screen and (min-width: 1407px) {
    padding-right: 5vw;
  }
}

#projects {
  position: relative;
  width: 100%;
  transition: 100ms ease-in-out;
  padding-bottom: 2em;
  @include slanted-bg-full;
  @media screen and (min-width: 1407px) {
    padding: calc(1vw * 1.25) 0;
    padding-right: 5vw;
  }
}

#experience {
  position: relative;
  height: 100vh;
}

//------------------------------------------------------------------------------
// About Section
//------------------------------------------------------------------------------
#self-portrait {
  min-height: 250px;
  min-width: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px;
  margin-right: 2em;
  @media screen and (max-width: 500px) {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 1em;
  }
}

#about-block-1 {
  display: flex;
  align-items: stretch;
  @media screen and (max-width: 500px) {
    flex-wrap: wrap;
  }
}

.resume {
  cursor: pointer;
  @include hover-appear-h6(90px, -4px, 37px);
  .icon-border {
    border: 2px solid $text;
    border-radius: 3px;
    width: 29px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 1.1rem;
    }
  }
}

//------------------------------------------------------------------------------
// Contact Section
//------------------------------------------------------------------------------
.contact-details {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  margin-top: 0.75em;
  @include hover-appear-h6(60px, -2px, 30px);
  &.extend {
    @include hover-appear-h6(75px, -2px, 30px);
  }
  h6 {
    margin: 0;
    overflow: hidden;
  }
  i {
    font-size: 1.8rem;
  }
  .icon-border {
    border: 2px solid $text;
    border-radius: 3px;
    width: 29px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 1.2rem;
    }
  }
}

.contact-bar {
  i {
    color: $default;
    font-size: 2.5rem;
    margin: 0 5px;
  }
}

//------------------------------------------------------------------------------
// Project Section
//------------------------------------------------------------------------------
.project-row {
  max-width: 1200px;
}

.card {
  height: 200px;
  border-radius: 1px;
  padding: 15px;
  border-radius: 2px;
  cursor: pointer;
  overflow: hidden;
  .detail-btn {
    color: $default;
    background: rgba(25,25,25,0.6);
    z-index: 12;
    visibility: hidden;
    opacity: 0;
    transition: 100ms ease-in-out;
  }
  .bg {
    z-index: 11;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background: rgba(0,0,0,0.5);
    transition: 100ms ease-in-out;
  }
  .img {
    overflow: auto;
    z-index: 10;
    position: absolute;
    top: -3%; bottom: -3%; right: -3%; left: -3%;
    transition: 100ms ease-in-out;
    -webkit-filter: grayscale(75%);
    -moz-filter: grayscale(75%);
    -o-filter: grayscale(75%);
    -ms-filter: grayscale(75%);
    filter: grayscale(75%);
    &.home24 {
      background: url('./assets/images/home24.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.wr {
      background: url('./assets/images/steeringwheel.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.fa {
      background: url('./assets/images/fa.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.usda {
      background: url('./assets/images/usda.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &:hover {
    .detail-btn{
      visibility: visible;
      opacity: 1;
    }
    .bg {
      background: rgba(100,100,100,.4);
    }
    .img {
      -webkit-filter: blur(6px);
      -moz-filter: blur(6px);
      -o-filter: blur(6px);
      -ms-filter: blur(6px);
      filter: blur(6px);
    }
    .card-title {
      color: $default;
      transform: none;
    }
  }
  .card-title {
    transform: translateY(30px);
    transition: 100ms ease-in-out;
    z-index: 12;
    font-size: 1.5rem;
    font-weight: 700;
    color: $default;
    text-align: center;
  }
}

.button.custom {
  border-radius: 1px;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  border-style: none;
  &.md {
    height: 35px;
    width: 150px;
  }
  &.primary {
    color: $bg;
    background: rgba(224,221,218,0.8);
  }
}

//------------------------------------------------------------------------------
// Experience Section
//------------------------------------------------------------------------------

#skill-icons {
  display: flex;
}

.skill-icon {
  $skill-icon-dim: calc(40px + 3vw);
  $hidden-tooltip-dim: calc(90px + 1.5vw);
  $tooltip-offset: calc((#{$hidden-tooltip-dim} - #{$skill-icon-dim}) / -2);
  margin-right: 1.5em;
  width: $skill-icon-dim;
  height: $skill-icon-dim;
  position: relative;
  cursor: pointer;
  .img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
  }
  .hidden-tooltip {
    position: absolute;
    top: $tooltip-offset;
    left: $tooltip-offset;
    width: $hidden-tooltip-dim;
    height: $hidden-tooltip-dim;
    transition: 100ms ease-in-out;
    transform: scale(0);
    padding: 1em;
    @include slanted-bg-size(0, $hidden-tooltip-dim, $hidden-tooltip-dim);
    p {
      color: $text !important;
      font-weight: 600;
      line-height: 1.2em;
      font-size: 0.9rem;
    }
  }
  &:hover {
    .img {
      -webkit-filter: blur(8px) invert(0.5);
      -moz-filter: blur(8px) invert(0.5);
      -o-filter: blur(8px) invert(0.5);
      -ms-filter: blur(8px) invert(0.5);
      filter: blur(8px) invert(0.5);
    }
    .hidden-tooltip {
      transform: scale(1);
      //opacity: 1;
      //visibility: visible;
    }
  }
}

.modal-bg {
  z-index: 9999;
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  background: $translucent-grey;
}